h1 Google+ to RSS Feed Error
p We got the following error: 
  = errorMsg
p Please make sure you grabed the whole user id. See 
  a(href='/') Google+ To Rss Home Page
  .
p This still is a beta site so it might go down from time to time. If you have any issues please submit a issue to 
  a(href='https://github.com/jtwebman/GooglePlusToRSSFeed/issues') Github Issues
  .
