h1 Google+ to RSS Feed
p Just add your google user id to this url like this 
  a(href='/118004117219257714873') http://googleplusrss.nodester.com/118004117219257714873 
  and it will give you your raw rss feed. You can get your user id by logging into your Google+ account and clicking on your name. The url in the browser will have a long number which is your user id. It will look like this.
#center 
  img(src='/images/googleuserid.png', width='481', heigth='238', border='0', alt='Google+ User ID', title='')
p This site is still in beta so it might go down from time to time. If you have any issues please submit a issue to 
  a(href='https://github.com/jtwebman/GooglePlusToRSSFeed/issues') Github Issues
  .
p I had to up the cache to 
  b 60 minutes 
  so we don't run out of API calls in a single day.
p
  b Currently Working On:
ol
  li 
    del Getting it to use Google API as the hacked way isn't working anymore.
  li A job doing Node.js so I can stop wasting my time with M$ programming. :)
