h1 Google+ to RSS Feed
p Just add your google user id to this url like this 
  a(href='/118004117219257714873') http://googleplusrss.nodester.com/118004117219257714873 
  and it will give you your raw rss feed. You can get your user id by logging into your Google+ account and clicking on your name. The url in the browser will have a long number which is your user id. It will look like this.
#center 
  img(src='/images/googleuserid.png', width='481', heigth='238', border='0', alt='Google+ User ID', title='')
p This site is still in beta so it might go down from time to time. If you have any issues please submit a issue to 
  a(href='https://github.com/jtwebman/GooglePlusToRSSFeed/issues') Github Issues
  .
p
  b Currently Working On:
ol
  li 
    del Fixing links and videos with no text with them.
  li
    del Make all posts look close to how google+ displays them.
  li 
    del Adding a full express site with more detailed help.
  li 
    del A simple stats data store so I know how many calls to each google id we get in
    |&nbsp;Google Analitics :)
  li Limits so we don't get kicked from nodester.com, it's free thanks guys!
  li A job doing Node.js so I can stop wasting my time with M$ programming. :)
