!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Google+ to RSS Feed
  body
    #main!= body
    #foot
      include footer
       
    script(type='text/javascript', src='/javascript/googleanalytics.js')      
