!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Google+ to RSS Feed
  body
    #main!= body
      #foot
        p Thank you for taking a look and hope you find the service good.
        p JT Web Man (Jeff Turner)
          br
          a(href='http://twitter.com/jtwebman') @JTWebMan
          br
          a(href='https://github.com/jtwebman') On Github
          
